body{
 	background-image: url("img/fundo.jpg");
}

nav{
	text-align: right;
	position: relative;
	right: 100px;
	top: 20px;

}

form{
	text-align: center;
	position: relative;
	top: 100px;
}

header{
	position: relative;
	top: 200px;
	left:200px;
}